.lineItem{
 display: inline-block;
}

.adminProductThumb {
    width: auto;
    height: 80px;
}

.newProduct {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.sellerSelect {
    min-width: 200px;
}

md-checkbox.md-checked .md-icon {
    background-color: #42dca3;
}

.customCss{
	margin-bottom: 10px;
	width: 100%;
	height: 40vh;
	resize: none;
}

div .reviewDisplay{
	margin-right: 10px;
	margin-left: 10px;
	display: inline-flex;
}
