
    <!-- <div class="container">
        <div class="navbar-header">
            <a href="/">
                <robot-logo></robot-logo>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <div class="navbar-right">
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <div ng-show="user" class="welcome">
                <span>Welcome, {{ user.email }}!</span>
                <a ng-click="logout()">Logout</a>
            </div>
        </div>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
    </div> -->

    <md-toolbar>
        <div class="md-toolbar-tools">
            <p ui-sref="home">
                <robot-logo></robot-logo>
            </p>

            <md-button class="nav-group nav-line" ui-sref="home">Robopocalypse</md-button>
            <md-button class="nav-group nav-line" ui-sref="home">Browse</md-button>

            

            <span flex></span>
            <md-input-container class="nav-line">
            <md-icon md-svg-icon="/images/cake.svg" aria-label="Cake Icon"></md-icon>
            <input class="md-primary" type="text" placeholder="Browse our products"> 
            </md-input-container>

            <md-button class="nav-group nav-line" ng-show="!user" ui-sref="login">Login</md-button>
            <div ng-show="user" class="welcome">
                <span>Welcome, {{ user.email }}!</span>
                <md-button class="nav-button" ng-click="logout()">Logout</md-button>
            </div>

        </div>
      <!-- <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Toolbar with Icon Buttons</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div> -->
    </md-toolbar>
