<md-toolbar class="navbar-adds">
    <div class="md-toolbar-tools">
        <p ui-sref="home">
            <robot-logo></robot-logo>
        </p>
        <md-button class="nav-group nav-line logo-text" ui-sref="home">Robopocalypse</md-button>
        <md-button class="nav-group nav-line" ui-sref="home">Browse</md-button>
        <span flex></span>
        <md-input-container class="nav-line">
            <md-icon md-svg-icon="/images/cake.svg" aria-label="Cake Icon"></md-icon>
            <input class="md-primary" type="text" placeholder="Browse our products">
        </md-input-container>
        <md-button class="nav-group nav-line" ng-show="!user" ui-sref="login">Login</md-button>
        <md-button class="nav-button" ui-sref="admin">Admin</md-button>
        <div ng-show="user" class="welcome">
            <span ng-click="viewUserPage()">Welcome, {{ user.name.first }}!</span>
            <md-button class="nav-button" ng-click="logout()">Logout</md-button>
        </div>
    </div>
</md-toolbar>