<div class="col-md-3 centerText" ng-hide="cartIsEmpty()">
    <div>
        <a ui-sref="checkout">
            <i class="fa fa-shopping-cart fa-3x"></i>
            <h3>CART</h3>
        </a>
    </div>
    <hr>
    <hr>
    <div class="centerText">
        <h2><b>Total</b></h2>
        <h4>{{cart.totalItems}} items</h4>
        <h4>${{cart.subtotal | getPrice}}</h4>
    </div>
    <hr>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <button ng-hide="checkout" ui-sref="checkout" class="btn btn-primary btn-lg btn-standard col-sm-12 col-md-12 col-lg-12 centerText" type="submit"><i class="fa fa-credit-card"></i> check out</button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 marginTop marginBottom">
        <button ng-hide="checkout" ng-click="emptyCart()" class="btn btn-primary btn-lg btn-standard col-sm-12 col-md-12 col-lg-12 centerText " type="submit"><i class="fa fa-times"></i> empty cart</button>
    </div>
    <hr ng-show="items.length > 0">
    <hr ng-show="items.length > 0">
    <cart-item ng-repeat="item in items" product="item"></cart-item>
    <hr ng-show="items.length > 0">
    <hr ng-show="items.length > 0">
</div>
<div class="col-md-3 col-lg-3 centerText" ng-show="cartIsEmpty()">
    <h3>Welcome to the Robopocalypse</h3>
    <hr>
    <hr>
    <p>Shop while it's not automated.</p>
    <hr>
    <hr>
    <p>Your cart is <span class="nullText">null</span></p>
</div>
<br>