<div>
    <div class="thumbnail mdl-card mdl-shadow--2dp" style="min-height:0px;padding:10%;margin-bottom:0;">
        <a class="pull-right"><i ng-click="removeItem()" class="fa fa-minus-circle fa-2x"></i></a>
        <img class="cartImg" ng-src="{{theItem.product.photos[0]}}" /><!-- 
         --><div class="caption cartCaption" >
            <h5><b>{{theItem.product.title}}</b></h4>
            <p class="cartText"><b>Quantity</b> {{theItem.quantity}}</p>
            <p class="cartText"><b>Price</b> ${{theItem.product.price | getPrice}}</p>
            <select ng-model="selectedQuantity" ng-options="num for num in [] | range:1:100" ng-init="selectedQuantity = theItem.quantity" ng-change="updateItem(selectedQuantity)">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>
