::selection {
    background: black;
    color: white;
}

hr {
    border: 1px black groove;
}

.container {
    padding: 1%;
}

md-content {
    display: inline;
}

.md-padding {
    padding: 0;
}

a.ng-binding {
    text-decoration: none;
}
