@font-face {
    font-family: RobotTitle;
    src: url("/fonts/bionic-kid/BIONICKIDSLANTED3D.ttf");
}

@font-face {
    font-family: RobotBody;
    src: url("/fonts/disposabledroid-bb/DisposableDroidBB.ttf");
}

@font-face {
    font-family: RobotHeader;
    src: url("/fonts/freshbot/FRESHBOT.TTF");
}

@font-face {
    font-family: ProximaNova;
    src: url("/fonts/proxima_nova/proxima_nova_reg-webfont.ttf");
}

body {
    background: white;
    font-family: 'ProximaNova', sans-serif;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

::selection {
    background: white;
    color: #42dca3;
}

hr {
    border: 1px black groove;
}

.container {
    padding: 1%;
}

md-content {
    display: inline;
}

.md-padding {
    padding: 0;
}

a.ng-binding {
    text-decoration: none;
}

.noPadding {
    padding: 0;
}

.centerText {
    text-align: center;
}

i.fa.fa-weixin.fa-2x,
i.fa.fa-plus-circle.fa-2x {
    vertical-align: middle
}

.form-group {
    margin-bottom: 0;
}

.marginTop {
    margin-top: 5%;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #42dca3;
    border-color: #42dca3;
}

.content {
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    margin: 0;
}

h1,
h2 {
    small {
        color: grey;
    }
}

.btn-primary:active:focus,
.btn-primary:active:hover {
    color: #42dca3;
    border-color: #42dca3;
}

.btn-primary:active {
    background-color: white;
}

.btn-primary:focus {
    color: #42dca3;
    border-color: #42dca3;
}

.marginBottom {
    margin-bottom: 5%;
}

.wideCard {
    width: 100%;
}

/* large desktops */

@media (min-width: 1900px) {
    .content {
        width: 1800px;
    }
}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .row.specialRow {
        margin-top: -3%;
    }
    .col-sm-12.col-lg-12.col-md-12 {
        margin-top: -3%;
    }
    .content {
        width: 1000px;
    }
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .content {
        margin-top: 20%;
    }
}
