@font-face {
    font-family: RobotTitle;
    src: url("/fonts/bionic-kid/BIONICKIDSLANTED3D.ttf");
}

@font-face {
    font-family: RobotBody;
    src: url("/fonts/disposabledroid-bb/DisposableDroidBB.ttf");
}

@font-face {
    font-family: RobotHeader;
    src: url("/fonts/freshbot/FRESHBOT.TTF");
}

@font-face {
    font-family: ProximaNova;
    src: url("/fonts/proxima_nova/proxima_nova_reg-webfont.ttf");
}

body {
    background: white;
    padding-top: 5%;
    font-family: "ProximaNova";
}

#home{
    h4{
        margin-left: 3%;
    }
}

.container {
    padding: 1%;
}

.content {
    margin-top: 3%;
}

html {
    position: relative;
    min-height: 100%;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

::selection {
    background: white;
    color: #42dca3;
}

hr {
    border: 1px black groove;
}

md-content {
    display: inline;
}

.md-padding {
    padding: 0;
}

a.ng-binding {
    text-decoration: none;
}

.noPadding {
    padding: 0;
}

.centerText {
    text-align: center;
}

i.fa.fa-weixin.fa-2x,
i.fa.fa-plus-circle.fa-2x {
    vertical-align: middle
}

.form-group {
    margin-bottom: 0;
}

.marginTop {
    margin-top: 5%;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #42dca3;
    border-color: #42dca3;
}

p {
    margin: 0;
}

h1,
h2 {
    small {
        color: grey;
    }
}

.btn-primary:active:focus,
.btn-primary:active:hover {
    color: #42dca3;
    border-color: #42dca3;
}

.btn-primary:active {
    background-color: white;
}

.btn-primary:focus {
    color: black;
    background-color: #42dca3;
    border-color: #42dca3;
}

.marginBottom {
    margin-bottom: 5%;
}

.wideCard {
    width: 100%;
}

//This is replacing the @media below, those are extremely broken and overlap
.mainContainer {
        min-height: 60.5vh;
        margin-top: 3vh;
    }

@media (min-width: 1500px) {
    .col-md-9 {
        margin-top: -1.5%;
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .row.specialRow {
        margin-top: -3%;
    }
    .mainContainer {
        min-height: 70.5vh;
    }
}

@media (min-width: 1700px) {
    .col-md-9 {
        margin-top: -3.5%;
    }
    .container {
        width: 1600px;
    }
    .mainContainer {
        min-height: 76.5vh;
    }
}

@media (min-width: 1900px) {
    .mainContainer {
        min-height: 76.5vh;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .content {
        margin-top: 20%;
    }
}

// /* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .content {
        margin-top: 20%;
    }
}

@media (max-width: 1000px) {
    .specialRow {
        margin-top: 15%;
    }
    .mainContainer {
        min-height: 60.5vh;
        margin-top: 10%;
    }
}

@media (max-width: 1000px) {
    .specialRow {
        margin-top: 15%;
    }
    .mainContainer {
        min-height: 60.5vh;
    }
}

.thumbnail.mdl-card.mdl-shadow--3dp {
    min-height: 450px;
}

.notLineItem {
    display: flex;
}

.embed-responsive.embed-responsive-16by9 {
    margin-left: -1%;
    margin-right: 1%;
}

.btn {
    cursor: pointer;
}

.nullText {
    color: #9900FF;
}

.mdl-navigation__link {
    margin: 3%;
}

i.mdl-color-text--blue-grey-400.material-icons {
    vertical-align: middle;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

button.md-button.md-default-theme {
    color: white;
    background-color: black;
}

.md-button:not([disabled]):hover {
    color: black;
}

h3 {
    margin: 0;
}