<div class="container noPadding centerText specialRow">
        <h1 class="form-signin-heading centerText">Reset Password</h1>
        <div class="row">
            <!-- Password -->
            <md-content class="col-lg-6 col-md-12 col-sm-12">
                <div layout layout-sm="column">
                    <md-input-container >
                        <label>
                            <h1>password</h1></label>
                        <input type="password" ng-model="newPassword" class="form-control mdl-textfield__input" id="login-password" required>
                    </md-input-container>
                </div>
            </md-content>
            <!-- Buttons -->
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <button class="btn btn-lg btn-primary btn-block btn-standard" ng-click="resetPass()"><i class="fa fa-sign-in"></i>Reset</button>
            </div>
        </div>
        
</div>