<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-2">
            <p>Sort Orders By</p>
        </div>
        <div class="col-md-2">
            <md-button ng-click="setFilter('all')">All</md-button>
        </div>
        <div class="col-md-2">
            <md-button ng-click="setFilter('Created')">Created</md-button>
        </div>
        <div class="col-md-2">
            <md-button ng-click="setFilter('Processing')">Processing</md-button>
        </div>
        <div class="col-md-2">
            <md-button ng-click="setFilter('Cancelled')">Cancelled</md-button>
        </div>
        <div class="col-md-2">
            <md-button ng-click="setFilter('Complete')">Complete</md-button>
        </div>
    </div>
    <div class="row marginTop" ng-show="filterStatus !== 'all'">
        <h3>Sorting by {{filterStatus}}</h3>
    </div>
    <div ng-repeat="order in orders" ng-show="filterStatus === 'all' || filterStatus === order.status" class="marginTop">
        <admin-order-line order="order"></admin-order-line>
    </div>
</div>
