<html>
<head><meta charset='utf-8'></head>
<body>
  <p>
    A store request has been submitted by <%= name.first %> <%= name.last %>
    Please log-in now to review and approve.
  </p>
  <p>
    Your friendly robot worker,<br>
    Robot
  </p>
</body>
</html>