<html>
<head><meta charset='utf-8'></head>
<body>
  <p>
    Order # <%= _id %> has been completed.
  </p>
  <p>
    We hope you will order again from us for all your Robot needs.
  </p>
  <p>
    01010100 01101000 01100001 01101110 01101011 00100000 01111001 01101111 01110101 00100001,<br>
    Robot
  </p>
</body>
</html>