<!-- <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <a class="pull-left">
            <img src="{{ user.photo }}" width="100%" height="100%" alt="...">
        </a>
        <div class="media-body update-card-body">
            <h4 class="media-heading">{{ user.name.first }} {{ user.name.last }}</h4>
            <p>This is the body content of this media.This can be used as an update panel</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <md-input-container class="lineItem" flex>
                <label>Image URL</label>
                <input ng-model="user.photo" class="lineItem" enabled>
            </md-input-container>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <md-input-container class="lineItem" flex>
                <label>Email</label>
                <input ng-model="user.email" class="lineItem" enabled>
            </md-input-container>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <md-input-container class="lineItem" flex>
                <label>Password</label>
                <input ng-model="user.password" class="lineItem" enabled>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <md-button ng-click="updateProfile()">Update Profile</md-button>
    </div> -->
<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="thumbnail right-caption" style="padding:2%; width: inherit">
                <img class="img-responsive" ng-src="{{ user.photo }}">
                <div class="caption">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <md-input-container class="lineItem" flex>
                                <label>Image URL</label>
                                <input ng-model="user.photo" placeholder="{{user.photo}}" class="lineItem" enabled>
                            </md-input-container>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <md-input-container class="lineItem" flex>
                                <label>Email</label>
                                <input ng-model="user.email" class="lineItem" enabled>
                            </md-input-container>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <md-input-container class="lineItem" flex>
                                <label>Password</label>
                                <input ng-model="user.password" class="lineItem" enabled>
                            </md-input-container>
                        </div>
                    </div>
                    <md-button class="btn btn-primary btn-lg btn-standard" ng-click="updateProfile()">Update Profile</md-button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6">
                <div class="thumbnail mdl-card mdl-shadow--3dp" style="padding:10%;">
                    <div class="centerText">
                        <h1><i class="fa fa-weixin fa-2x"></i> Reviews</h1>
                    </div>
                    <product-review ng-repeat="review in reviews"></product-review>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6">
                <div class="thumbnail mdl-card mdl-shadow--3dp" style="padding:5%;">
                    <div class="centerText">
                        <h1><i class="fa fa-cart-arrow-down fa-2x"></i></i> Orders</h1></div>
                    <fieldset ng-repeat="order in orders">
                        <user-order-line order="order">
                        </user-order-line>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
