<div>
  <div class="col-lg-1 col-md-1 col-sm-1">
    <p ng-click="show('products')">My Products</p>
    <p ng-click="show('orders')">My Orders</p>
    <p ng-click="show('reviews')">My Reviews</p>
  </div>
  <div class="col-lg-11 col-md-11 col-sm-11">
    <merchant-products ng-show="'products' === activeTab" categories="theCategories" merchant='merchant'></merchant-products>
    <merchant-orders ng-show="'orders' === activeTab"></merchant-orders>
    <merchant-reviews ng-show="'reviews' === activeTab"></merchant-reviews>
  </div>

</div>