<!-- <div class="container-fluid row">
    <div class="container-fluid col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div style="margin-top:25px">
            <img ng-src="{{theProduct.photo}}" ui-sref="singleProduct({id: theProduct._id })">
        </div>
        <div class="container-fluid" style="float:left; clear:both">
            <h3>${{theProduct.price}}</h3>
            <h4><span style="color:red"><b>Only {{theProduct.inventory}} left</b></span></h4>
        </div>
    </div>
    <div class="container-fluid">
        <h2><a ui-sref="singleProduct({id: theProduct._id })">{{theProduct.title}}</a></h2>
        <p>{{theProduct.description}}</p>
        <h3 ng-click="add(theProduct)">Add to Cart +</h3>
    </div>
</div>
<hr> -->
<!-- <div class="container-fluid row">
    <div class="container-fluid col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div class="mdl-card mdl-shadow--2dp demo-card-wide">-->
<div class="product-thumbnail-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <img ng-src="{{theProduct.photo}}" ui-sref="singleProduct({id: theProduct._id })">
        <div class="mdl-card__title">
            <h1 class="mdl-button mdl-card__title-text"><a ui-sref="singleProduct({id: theProduct._id })">{{theProduct.title}}</a></h1>
        </div>
        <div class="mdl-card__supporting-text">
            {{theProduct.description | shortdesc}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <h3>${{theProduct.price}}</h3>
            <p><span style="color:red"><b>ONLY {{theProduct.inventory}} LEFT</b></span></p>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons" ng-click="add(theProduct)">add</i>
            </button>
        </div>
    </div>
</div>
</div>
<br>
