<div>
    <form name='reviewForm'>
        <md-input-container class="lineItem" flex>
            <label>Id</label>
            <input ng-model="theReview._id" class="lineItem" disabled>
        </md-input-container>
        <md-input-container class="lineItem" flex>
            <label>User</label>
            <input ng-model="theReview.user" class="lineItem" disabled>
        </md-input-container>
        <md-input-container class="lineItem" flex>
            <label>Product</label>
            <input ng-model="theReview.product" class="lineItem" disabled>
        </md-input-container>
        <md-input-container class="lineItem" flex>
            <label>Text</label>
            <input type="text" ng-model="theReview.text" class="lineItem">
            <!--     <input type="text"
        ng-model="theReview.text"
        class="lineItem" ng-minlength="40"
        ng-maxlength="200">
        <div ng-messages="reviewForm.name.$error">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your name is required.</p>
    </div> -->
        </md-input-container>
        <md-input-container class="lineItem" flex>
            <label>Rating</label>
            <input ng-model="theReview.rating" class="lineItem" disabled>
        </md-input-container>
        <md-button ng-click="update()">Update</md-button>
        <md-button ng-click="delete()">Delete</md-button>
    </form>
    <hr>
</div>
