#footer {
    text-decoration: none;
    text-align: center;
    width: inherit;
    background-color: black;
    color: white;
    a {
        color: white;
    }
    a:focus,
    a:hover {
        color: #42dca3;
        text-decoration: none;
    }
}