robot-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
    margin-top: -15px;
    margin-left: 10px;
}

.md-toolbar-tools {
    background-color: black;
}

.navbar {
    background-color: black;
}

nav.navbar.navbar-default {
    border-radius: 0;
    border: none;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: black;
    background-color: white;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: black;
    background-color: white;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: black;
    background-color: white;
}

ul.dropdown-menu {
    background-color: black;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
}

.dropdown-menu > li > a {
    color: white;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: grey;
        background-color: transparent;
    }
}
