<!-- <div class="container loginForm">
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <form id="login-form" name="loginForm" ng-submit="loginForm.$valid; sendLogin(login)"> -->
                <!-- <alert type="danger" ng-show="error">
                    {{ error }}
                </alert>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" ng-model="login.password" class="form-control mdl-textfield__input" id="login-password" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <br>
                <a ui-sref="signup">Don't have an account? Sign up or be left behind in the Robopocalypse!</a>
                <br>
                <a ui-sref="forgotPassword">Forgot your password?</a>
                <br>
                <auth-button provider-name="Google"></auth-button>
                <auth-button provider-name="Twitter"></auth-button>
                <auth-button provider-name="Facebook"></auth-button>
            </form>
        </div>
    </div>
</div>
 -->

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->