<div class="container noPadding">
    <form class="form-signin" name="loginForm" ng-submit="loginForm.$valid; sendLogin(login)">
        <alert type="danger" ng-show="error">
            {{ error }}
        </alert>
        <!-- Title -->
        <!-- <h2 class="form-signin-heading centerText">Welcome Back!</h2> -->
        <h2 class="form-signin-heading centerText">Login</h2>
        <!-- Email -->
        <input type="email" id="email" class="form-control mdl-textfield__input" placeholder="email" ng-model="login.email" id="email" placeholder="email" required autofocus>
        <!-- Password -->
        <input type="password" placeholder="password" ng-model="login.password" class="form-control mdl-textfield__input" id="login-password" required autofocus>
        <!-- Buttons -->
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-lg btn-primary btn-block btn-standard" type="submit"><i class="fa fa-sign-in"></i> Login</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <button class="btn btn-lg btn-primary btn-block btn-standard" type="submit" ui-sref="signup"><i class="fa fa-external-link"></i> Sign Up</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <button class="btn btn-lg btn-primary btn-block btn-standard" type="submit"><i class="fa fa-question-circle"></i> Forgot your password?</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <auth-button provider-name="Google"></auth-button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <auth-button provider-name="Twitter"></auth-button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <auth-button provider-name="Facebook"></auth-button>
            </div>
        </div>
    </form>
</div>