.caption {
    height: auto;
}

.thumbnail {
    display: inline-block;
}

.thumbnail img {
    width: 25%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail .caption-full {
    color: #333;
}

.thumbnail.mdl-card {
    min-height: 100px;
    width: 100%;
}

.mdl-card {
    min-height: 0;
}

h3.lead {
    text-align: center;
}

.rightCaption {
    float: left;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 5%;
    width: 25%;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.caption {
    margin-top: 3%;
}