.caption {
    height: auto;
}

.thumbnail img {
    width: 25%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail .caption-full {
    color: #333;
}

.thumbnail.mdl-card {
    min-height: 100px;
    width: auto;
}

.mdl-card {
    min-height: 0;
}

h3.lead {
    text-align: center;
}
