<cart></cart>
<div class="col-md-9 col-sm-12 col-lg-9">
    <div class="row">
        <md-content class="md-padding">
            <md-tabs md-selected="selectedIndex" md-dynamic-height="" md-border-bottom="" md-autoselect>
                <md-tab ng-repeat="tab in tabs | orderBy:'name'" label="{{tab.name}}" style="text-align: center;">
                    <br>
                        <h4 class="nullMessage" ng-show="tab.content.length === 0"><span class="nullText">Null</span> Product Results</h4>
                        <div ng-repeat="product in tab.content">
                            <product-thumbnail product="product"></product-thumbnail>
                        </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>