<div class="mdl-card mdl-shadow--3dp centerText marginBottom" style="padding:3%; width:inherit;">
    <form>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="row marginTop marginBottom">
                <img class="img-responsive" ng-src="{{theUser.photo}}" />
            </div>
            <div class="row marginTop marginBottom">
                <md-input-container class="lineItem" flex>
                    <label>ID</label>
                    <input ng-model="theUser._id" class="lineItem" disabled>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="row marginTop marginBottom">
                <md-input-container class="lineItem" flex>
                    <label>First Name</label>
                    <input ng-model="theUser.name.first" class="lineItem">
                </md-input-container>
            </div>
            <div class="row marginTop marginBottom">
                <md-input-container class="lineItem" flex>
                    <label>Last Name</label>
                    <input ng-model="theUser.name.last" class="lineItem">
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="row marginTop marginBottom">
                <md-input-container class="lineItem" flex>
                    <label>Role</label>
                    <input ng-model="theUser.roles[0]" class="lineItem">
                </md-input-container>
            </div>
            <div class="row marginTop marginBottom">
                <md-input-container class="lineItem" flex>
                    <label>Email</label>
                    <input ng-model="theUser.email" class="lineItem">
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="row marginTop marginBottom">
                <a class="btn-primary btn-lg btn-standard" ng-click="update()">Update</a>
            </div>
            <div class="row marginTop marginBottom">
                <a class="btn-primary btn-lg btn-standard" ng-click="delete()">Delete</a>
            </div>
        </div>
    </form>
</div>