<div class="mdl-card mdl-shadow--3dp centerText" style="padding:3%; width:100%; margin-bottom: 3%">
    <form>
        <div class="row">
            <md-input-container flex class="lineItem">
                <label>Name</label>
                <input ng-model="theCategory.name" enabled>
            </md-input-container>
        </div>
        <div class="row">
            <div class="col-md-6">
                <md-button ng-click="editCategory()"><i class="fa fa-pencil"></i> Update</md-button>
            </div>
            <div class="col-md-6">
                <md-button ng-click="deleteCategory()"><i class="fa fa-times"></i> Delete</md-button>
            </div>
        </div>
    </form>
</div>