
<md-content class="col-lg-6 col-md-6 col-sm-12" layout-padding>
	<h3>Billing Address</h3>
	<form name="orderForm">
		<div layout layout-sm="column">
			<md-input-container flex>
				<label>First name</label>
				<input ng-model="user.firstName">
			</md-input-container>
			<md-input-container flex>
				<label>Last Name</label>
				<input ng-model="theMax">
			</md-input-container>
		</div>
		<md-input-container flex>
			<label>Address</label>
			<input ng-model="user.address">
		</md-input-container>
		<md-input-container md-no-float>
			<input ng-model="user.address2" placeholder="Address 2">
		</md-input-container>
		<div layout layout-sm="column">
			<md-input-container flex>
				<label>City</label>
				<input ng-model="user.city">
			</md-input-container>
			<md-input-container flex>
				<label>State</label>
				<input ng-model="user.state">
			</md-input-container>
			<md-input-container flex>
				<label>Postal Code</label>
				<input ng-model="user.postalCode">
			</md-input-container>
		</div>
	</form>
</md-content>

<md-content class="col-lg-6 col-md-6 col-sm-12" layout-padding>
	<h3>Shipping Address</h3>
	<form name="orderForm">
		<div layout layout-sm="column">
			<md-input-container flex>
				<label>First name</label>
				<input ng-model="user.firstName">
			</md-input-container>
			<md-input-container flex>
				<label>Last Name</label>
				<input ng-model="theMax">
			</md-input-container>
		</div>
		<md-input-container flex>
			<label>Address</label>
			<input ng-model="user.address">
		</md-input-container>
		<md-input-container md-no-float>
			<input ng-model="user.address2" placeholder="Address 2">
		</md-input-container>
		<div layout layout-sm="column">
			<md-input-container flex>
				<label>City</label>
				<input ng-model="user.city">
			</md-input-container>
			<md-input-container flex>
				<label>State</label>
				<input ng-model="user.state">
			</md-input-container>
			<md-input-container flex>
				<label>Postal Code</label>
				<input ng-model="user.postalCode">
			</md-input-container>
		</div>
	</form>
</md-content>

<cart></cart>

<button ng-click="submitOrder()">Submit Order</button>
