<div class="col-md-12">
	<div style="border: 1px solid #ccc; border-radius: 10px;">
		<h3>Add a product</h3>
		<form>
			<img ng-src="{{newProduct.photo}}" style="width:80px"/>
			<md-input-container class="lineItem" flex>
				<label>Id (Automatically added)</label>
				<input class="lineItem" disabled />
			</md-input-container>
			<md-input-container class="lineItem" flex>
				<label>Title</label>
				<input ng-model="newProduct.title" />
			</md-input-container>
				<label>Sold by User</label>
				<md-select ng-model="theProduct.seller" md-on-open="loadStores()" style="min-width: 200px;">
			      <md-select-label>{{ store ? store.storeName : 'Select User Store' }}</md-select-label>
			      <md-option ng-value="store" ng-repeat="store in stores">{{store.storeName}}</md-option>
			    </md-select>
			<md-input-container class="lineItem" flex>
				<label>Description</label>
				<input ng-model="newProduct.description" />
			</md-input-container>
			<md-input-container class="lineItem" flex>
				<label>Price</label>
				<input ng-model="newProduct.price" />
			</md-input-container>
			<md-input-container class="lineItem" flex>
				<label>Inventory</label>
				<input ng-model="newProduct.inventory" />
			</md-input-container>
			<fieldset class="standard" flex>
			<div layout="row" layout-wrap>
			<label>Category</label>
	          <div flex="50" ng-repeat="category in categories">
	            <md-checkbox ng-checked="exists(category._id, newProduct.category)" ng-click="toggle(category._id, newProduct.category)">
	              {{ category.name }}
	            </md-checkbox>
	          </div>
	        </div>
	        </fieldset>
			<md-button ng-click="addProduct()">Add</md-button>
		</form>    
	</div>
	<hr>
    <admin-product-line ng-repeat="product in products" product="product"></admin-product-line>
</div>