<div>
	<form>
        <img ng-repeat="photo in theProduct.photos" style="width:auto; height:80px;" ng-src="{{photo}}">
        </ul>
		<md-input-container class="lineItem" flex>
			<label>Id</label>
			<input ng-model="theProduct._id" disabled />
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Title</label>
			<input ng-model="theProduct.title" />
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Description</label>
			<input ng-model="theProduct.description" />
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Price</label>
			<input ng-model="theProduct.price" />
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Inventory</label>
			<input ng-model="theProduct.inventory" />
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Category</label>
			<input ng-model="theProduct.category" />
		</md-input-container>
		<md-button ng-click="update()">Update</md-button>
    	<md-button ng-click="delete()">Delete</md-button>
	</form>    
</div>
<hr>