<div class="col-sm-12 col-md-12 col-lg-12 marginTop">
    <form name="reviewform" ng-submit="reviewform.$valid && createReview(review)">
        <div class="form-group">
            <label>Your Rating</label>
            <select name="stars" ng-model="review.rating" ng-selected="selected" required class="pull-right" style="cursor: pointer;">
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option ng-selected="selected" value="5">5 stars</option>
            </select>
            <textarea name="review-text" class="form-control marginTop autofocus" cols="50" name="comment" ng-model="review.text" placeholder="Enter your review here..." rows="5" required ng-minlength="10"></textarea>
            <button class="btn btn-primary btn-lg btn-standard marginTop" type="submit"><i class="fa fa-plus"></i> Add a Review</button>
        </div>
    </form>
</div>