@font-face {
  font-family: RobotTitle;
  src: url("/fonts/bionic-kid/BIONICKIDSLANTED3D.ttf");
}
@font-face {
  font-family: RobotBody;
  src: url("/fonts/disposabledroid-bb/DisposableDroidBB.ttf");
}
@font-face {
  font-family: RobotHeader;
  src: url("/fonts/freshbot/FRESHBOT.TTF");
}


* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: RobotBody;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%
}

@import "directives/main";
@import "home/main";
@import "tutorial/main";
@import "login/main";
@import "product-thumbnail/main";
@import "cart/main";
@import "angular";