<div>
	<form>
		<md-input-container class="lineItem" flex>
			<label>Id</label>
			<input ng-model="theReview._id" class="lineItem" disabled>
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>User</label>
			<input ng-model="theReview.user" class="lineItem" disabled>
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Product</label>
			<input ng-model="theReview.product" class="lineItem" disabled>
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Text</label>
			<input ng-model="theReview.text" class="lineItem">
		</md-input-container>
		<md-input-container class="lineItem" flex>
			<label>Rating</label>
			<input ng-model="theReview.rating" class="lineItem" disabled>
		</md-input-container>
		<md-button ng-click="update()">Update</md-button>
		<md-button ng-click="delete()">Delete</md-button>
	</form>
	<hr>
</div>