md-ink-bar {
    background-color: black;
    color: black;
}

md-tabs md-ink-bar {
    background-color: black;
    color: black;
}

md-tabs md-tabs-wrapper {
    background-color: transparent;
    border-color: transparent;
}
